.classpath
.clj-kondo/.cache
.cpcache
.eastwood
.factorypath
.java-version
.lsp/sqlite.db
.nrepl-port
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/classes
/classes
/clojure_test_*
/cljs-test-runner-out
/derby.log
/target
