*~
.sw*
*.swp
/target
/lib
/classes
/checkouts
/dist
pom.xml*
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.classpath
.project
.nrepl-port
bin
test/readme.clj
/node_modules
