*~
.sw*
*.swp
/target
/lib
/classes
/checkouts
/dist
*.jar
*.class
.cpcache
.clj-kondo/.cache
.eastwood
.lsp
.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.classpath
.project
bin
/cljs-test-runner-out
