{:paths ["."]
 :deps {io.github.babashka/deps-deploy {:mvn/version "0.0.1"}}

 :tasks
 {:requires [build]

  -gen-doc-tests {:doc "Generate tests from documentation code blocks."
                  :task (shell "clojure -M:gen-doc-tests")}

  doc-test {:doc "Run documentation tests."
            :depends [-gen-doc-tests]
            :task
            (let [[cljs? versions] (build/parse-args)]
              (doseq [v versions]
                (let [cljs? (or cljs? (= v "cljs"))]
                  (println (str "\nDoc-" (build/testing-str v cljs?)))
                  (shell (str "clojure -M:test:test-doc"
                              (str ":" v)
                              (if cljs?
                                ":cljs:test-doc-cljs"
                                ":test-doc-clj"))))))}

  doc-test:all {:doc "Run documentation tests for all Clojure versions and ClojureScript."
                :task (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'doc-test))}

  eastwood {:doc "Run Eastwood linter."
            :task (shell "clojure -M:eastwood")}

  test {:doc "Run the test suite."
        :task
        (let [[cljs? versions] (build/parse-args)]
          (doseq [v versions]
            (let [cljs? (or cljs? (= v "cljs"))]
              (println (str "\n" (build/testing-str v cljs?)))
              (shell (str "clojure -M"
                          (str ":" v)
                          ":test:"
                          (if cljs? "cljs" "runner"))))))}

  test:bb {:doc "Run the test suite via Babashka."
           :extra-paths ["src" "test"]
           :extra-deps  {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           ;; :exec-fn cognitect.test-runner.api/test does not get :exec-args
           ;; https://github.com/babashka/babashka/issues/2103
           :task (exec 'cognitect.test-runner.api/test)
           :exec-args {:patterns ["^(?!(honey.cache|honey.sql-alphanumeric)).*-test$"]}}

  test:all {:doc "Run the test suite for all Clojure versions and ClojureScript."
            :task (binding [*command-line-args* (conj *command-line-args* "all")]
                    (run 'test))}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test:bb eastwood doc-test:all test:all]
      :exec-fn build/jar}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :exec-fn build/deploy}}}
