{:paths ["src"]
 :tasks
 {:requires [[clojure.string :as str]]

  -gen-doc-tests {:doc "Generate tests from documentation code blocks"
                  :task (shell "clojure -M:gen-doc-tests")}

  -parse-args {:task
               (let [cljs?    (some #{"cljs"} *command-line-args*)
                     all?     (some #{"all"} *command-line-args*)
                     versions (or (seq (filter (fn [v] (str/starts-with? v "1."))
                                               *command-line-args*))
                                  ["1.10"])]
                 [cljs? (if all? ["elide" "1.11" "1.12" "1.13" "cljs"] versions)])}

  doc-test {:doc "Run documentation tests"
            :depends [-gen-doc-tests]
            :task
            (let [[cljs? versions] (run '-parse-args)]
              (doseq [v versions]
                (let [cljs? (or cljs? (= v "cljs"))]
                  (println "\nDoc-Testing Clojure"
                           (cond (= v "cljs") "ClojureScript"
                                 cljs?
                                 (str v "/ClojureScript")
                                 :else
                                 v))
                  (shell (str "clojure -M:test:test-doc"
                              (str ":" v)
                              (if cljs?
                                ":cljs:test-doc-cljs"
                                ":test-doc-clj"))))))}

  doc-test:all {:doc "Run all documentation tests"
                :task (binding [*command-line-args* (conj *command-line-args* "all")]
                        (run 'doc-test))}

  eastwood {:doc "Run Eastwood linter"
            :task (shell "clojure -M:eastwood")}

  test {:doc "Run the test suite."
        :task
        (let [[cljs? versions] (run '-parse-args)]
          (doseq [v versions]
            (let [cljs? (or cljs? (= v "cljs"))]
              (println "\nTesting Clojure"
                       (cond (= v "cljs") "ClojureScript"
                             cljs?
                             (str v "/ClojureScript")
                             :else
                             v))
              (shell (str "clojure -M"
                          (str ":" v)
                          ":test:"
                          (if cljs? "cljs" "runner"))))))}

  test:bb {:extra-paths ["test"]
           :extra-deps  {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
           :task (exec 'cognitect.test-runner.api/test)
           :exec-args {:patterns ["^(?!(honey.cache|honey.sql-alphanumeric)).*-test$"]}}

  test:all {:doc "Run all tests for different Clojure versions and ClojureScript"
            :task (binding [*command-line-args* (conj *command-line-args* "all")]
                    (run 'test))}

  -snapshot {:doc "Return snapshot options, if requested."
             :task (->> (if (some #{"snapshot"} *command-line-args*)
                          [:snapshot true]
                          [])
                        (map str))}

  ci {:doc "Run the CI pipeline of tests and build the JAR."
      :depends [test:bb eastwood doc-test:all test:all]
      :task (apply shell "clojure -T:build jar" (run '-snapshot))}

  ci:deploy {:doc "Deploy the JAR we just built to Clojars."
             :depends [ci]
             :task (apply shell "clojure -T:build deploy" (run '-snapshot))}}}
