{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}}
 :aliases
 {:1.7 {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
  :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.11.0-master-SNAPSHOT"}}}
  ;; clj -A:test:runner
  :test {:extra-paths ["test"]}
  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"]}
  :cljs-runner {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                :main-opts ["-m" "cljs-test-runner.main"]}
  :readme {:extra-deps {seancorfield/readme {:mvn/version "1.0.12"}}
           :main-opts ["-m" "seancorfield.readme"]}}}
