{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}
 :paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}}
 :aliases
 {;; for help: clojure -A:deps -T:build help/doc
  :build {:deps {babashka/fs {:mvn/version "0.0.5"}
                 com.github.lread/test-doc-blocks {:mvn/version "1.0.137-alpha"}
                 io.github.clojure/tools.build {:git/tag "v0.1.9" :git/sha "6736c83"}
                 io.github.slipset/deps-deploy {:sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}}
          :ns-default build}

  ;; versions to test against:
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.11.1-master-SNAPSHOT"}}}

  ;; running tests/checks of various kinds:

  :test {:extra-paths ["test"]}

  :runner ; can also run clojure -X:test
  {:extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.4.0" :git/sha "334f2e2"}}
   :main-opts ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}

;; various "runners" for tests/CI:
  :cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
         :main-opts ["-m" "cljs-test-runner.main"]}

  :test-doc {:extra-paths ["target/test-doc-blocks/test"]}
  :test-doc-clj {:main-opts ["-m" "cognitect.test-runner"
                             "-d" "target/test-doc-blocks/test"]}
  :test-doc-cljs {:main-opts ["-m" "cljs-test-runner.main"
                              "-c" "{:warnings,{:single-segment-namespace,false}}"
                              "-d" "target/test-doc-blocks/test"]}

  :eastwood {:extra-deps {jonase/eastwood {:mvn/version "0.5.1"}}
             :main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"]}"]}}}
