{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changes" {:file "CHANGELOG.md"}]
                   ["Getting Started" {:file "doc/getting-started.md"}
                    ["Extending HoneySQL" {:file "doc/extending-honeysql.md"}]]
                   ["Differences from 1.x" {:file "doc/difference-from-1-x.md"}]]}
