{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Changes" {:file "CHANGELOG.md"}]
  ["Getting Started" {:file "doc/getting-started.md"}
   ["General Reference" {:file "doc/general-reference.md"}]
   ["SQL Clause Reference" {:file "doc/clause-reference.md"}]
   ["SQL Operator Reference" {:file "doc/operator-reference.md"}]
   ["SQL 'Special Syntax'" {:file "doc/special-syntax.md"}]
   ["PostgreSQL Support" {:file "doc/postgresql.md"}]
   ["New Relic NRQL Support" {:file "doc/nrql.md"}]
   ["Other Databases" {:file "doc/databases.md"}]]
  ["All the Options" {:file "doc/options.md"}]
  ["Extending HoneySQL" {:file "doc/extending-honeysql.md"}]
  ["Differences from 1.x" {:file "doc/differences-from-1-x.md"}]]}
